<div class="header">
  <div class="hours-container">
    <div class="hours">
      <div class="hours__icon">
        <img
          src="../../../../assets/header-icons/billable.svg"
          alt="billable"
        />
      </div>
      <div class="hours__content">
        <div class="hours__title">Billable Hours</div>
        <div class="hours__value">320</div>
      </div>
    </div>
    <div class="hours">
      <div class="hours__icon">
        <img src="../../../../assets/header-icons/JS.svg" alt="HJ" />
      </div>
      <div class="hours__content">
        <div class="hours__title">HJ Hours</div>
        <div class="hours__value">320</div>
      </div>
    </div>
    <div class="hours">
      <div class="hours__icon">
        <img src="../../../../assets/header-icons/temp.svg" alt="Temp" />
      </div>
      <div class="hours__content">
        <div class="hours__title">Temp time hours</div>
        <div class="hours__value">320</div>
      </div>
    </div>
  </div>
  <div class="header-actions">
    <div class="header__notification">
      <img
        src="../../../../assets/header-icons/notification.svg"
        alt="notification"
        class="notification__icon"
      />
      <div class="notification__count">3</div>
    </div>
    <div class="header__add">
      <img
        src="../../../../assets/header-icons/add.svg"
        alt="add"
        class="add__icon"
      />
    </div>
    <div class="header__divider"></div>
    <div class="header__history">
      <img
        src="../../../../assets/header-icons/history.svg"
        alt="history"
        class="history__icon"
      />
    </div>
    <div class="header__timer">
      <img
        src="../../../../assets/header-icons/play.svg"
        alt="play"
        class="timer__icon"
      />
      <div class="header__divider"></div>
      <div class="timer__value">00:00:00</div>
    </div>
  </div>
</div>
