<div class="forgot">
  <h2>Forgot password?</h2>
  <p>Enter your details to receive a reset link</p>
  <form action="#" class="login-form">
    <div class="field email__field">
      <label for="email">Email</label>
      <input type="email" id="email" value="abcd@xyz.com" />
      <div class="field__icon email__icon">
        <img src="../../../assets/auth/mail.svg" alt="" />
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a routerLink="/auth/login" class="back-to-login"> < Back to login</a>
  </form>
</div>
