@use "../../../scss/globals" as *;

.forgot {
  h2 {
    font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 43px;
    letter-spacing: -0.02em;
    color: $clr-blue;
    margin-bottom: 10px;
  }
  p {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: $clr-green;
  }
}

.login-form {
  max-width: 400px;
  display: grid;
  gap: 30px;
}

.field {
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid $clr-blue;
  margin-top: 50px;
  label {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $clr-blue-bg-2;
  }
  input {
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: $clr-blue;
    padding: 15px 0;
    &::placeholder {
      color: $clr-blue;
    }
  }
}

.field__icon {
  position: absolute;
  right: 10px;
  bottom: 15px;
}

.back-to-login {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: $clr-err-green;
}
