@use "scss/globals/" as *;
@use "scss/utilities/" as *;

.module__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  font-size: 34px;
  line-height: 42px;
  letter-spacing: -0.02em;
  color: var(--clr-blue);
}

.module__search {
  display: flex;
  gap: 15px;
  background-color: var(--clr-white);
  padding: 10px;
  border-radius: 10px;
  width: 320px;
  input {
    flex-grow: 1;
    border: none;
  }
}

.divider {
  height: 30px;
  width: 1px;
  background-color: var(--clr-scroll-grey);
}

.table-container {
  background-color: var(--clr-white);
  padding: 25px;
  margin-top: 30px;
  border-radius: 20px;
}

.filters {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.filter {
  flex-grow: 1;
  max-width: 350px;
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: var(--clr-blue-bg);
  border-radius: 10px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: var(--clr-text-1);
}

.filter__select {
  flex-grow: 1;
  appearance: none;
  background-color: transparent;
  border: none;
}

.table {
  overflow-x: auto;
  max-width: 100%;
}

table,
th,
tr {
  border-collapse: collapse;
  border-spacing: 0;
}

tr:nth-child(even) {
  cursor: pointer;
  background-color: var(--clr-blue-bg);
}

td {
  white-space: nowrap;
  padding: 15px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: var(--clr-text-1);
}

th {
  white-space: nowrap;
  background-color: var(--clr-blue);
  color: var(--clr-white);
  padding: 15px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;
  &:first-child {
    border-top-left-radius: 10px;
  }
  &:last-child {
    border-top-right-radius: 10px;
  }
}

.status {
  font-size: 12px;
  line-height: 20px;
  padding: 5px 10px;
  border-radius: 10px;
}
