@use "../utilities/" as *;

$clr-white: #ffffff;
$clr-green: #50bfa4;
$clr-active-bg: #c6e5df;
$clr-active-text: #009c7b;
$clr-inactive-bg: #fddedb;
$clr-inactive-text: #f48b80;
$clr-suspended-bg: #d9e0eb;
$clr-suspended-text: #152d52;
$clr-closed-bg: #e4e4e4;
$clr-closed-text: #212112;
$clr-pending-bg: #fff2cc;
$clr-pending-text: #fbbb02;
$clr-draft-bg: #ffddc4;
$clr-draft-text: #e4a647;
$clr-cancelled-bg: #fddedb;
$clr-cancelled-text: #f48b80;
$clr-blue: #2b3674;
$clr-black: #212112;
$clr-black-2: #333333;
$clr-lighter-grey: #f9f9f9;
$clr-darker-grey: #2f2f1c;
$clr-scroll-grey: #e7e7e7;
$clr-logo-blue: #0068ff;
$clr-blue-form: #626d88;
$clr-blue-bg-2: #8f9bba;
$clr-blue-bg-3: #dae1f9;
$clr-blue-bg: #f4f7fe;
$clr-err-red: #fe2f01;
$clr-err-green: #2bd88a;
$clr-text-1: #212112;
$clr-text-2: #333333;
$clr-text-3: #616161;
