@use "../utilities/" as *;
@use "./colors.scss" as *;
@use "./fonts.scss" as *;

*,
*::before,
*::after {
  margin: 0;
  // padding: 0;
  box-sizing: border-box;
}

ul {
  padding-left: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  background-color: $clr-blue-bg;
  font-family: $fonts;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img,
picture {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
