th,
td {
  padding-inline: 7px;
}

.last-update {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 60px;
}

.Open {
  color: var(--clr-active-text);
  background-color: var(--clr-active-bg);
}

.Suspended {
  color: var(--clr-suspended-text);
  background-color: var(--clr-suspended-bg);
}

.Closed {
  color: var(--clr-closed-text);
  background-color: var(--clr-closed-bg);
}

.Draft {
  color: var(--clr-draft-text);
  background-color: var(--clr-draft-bg);
}

.Pending {
  color: var(--clr-pending-text);
  background-color: var(--clr-pending-bg);
}

.Cancelled {
  color: var(--clr-cancelled-text);
  background-color: var(--clr-cancelled-bg);
}
